footer
{
    background-color: #f6f6f6;
    padding-top: 40px;
    padding-bottom: 65px;
    color: #929292;
}

footer a
{
    color: #929292;
}

@media (max-width: 768px) {
  footer h4 {
    text-align:left;
  }
}

